<!DOCTYPE html>
<html lang="ja">
        <head>
                <meta charset="utf-8">
                <title>Result of {{word}}</title>
                <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
                <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
                <meta name="viewport" content="width=device-width, initial-scale=1" />
                <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        </head>

        <div class="header">
                <div class="header-list">
                        <ul>
                                <form method="POST" action="/"><li><button class="button1" align="center" type="type" value="main">Channel334</button></li></form>
                                <form method="POST" action="/logout"><li><button class="button1" align="center" type="type" value="Log Out">ログアウト</button></li></form>
                                <form method="POST" action="/gomypage"><li><button class="button1" align="center"type="type" name="mypage" value="mypage">{{username}}</button></li></form>
                                <form method="POST>" action="/gonotifications"><li><button class="button1" align="center" type="type" name="mypage" value="notifications">通知({{notifynum}})</button></li></form>
                                <form method="POST" action="/searchall">
                                   <div class="cp_iptxt">
                                                <label class="ef">
                                                <li><input  class="un " type="text" name="search" placeholder="キーワードで検索"></li>
                                                <li><button class="button1" align="center" type="text" name="submit">検索</button></li>
                                        </label>
                                   
                                </div>
                               </form>
                        </ul>
                </div>

    <button class="button5" type="text" name="action" >'{{word}}'の検索結果</button>
    
    {% for title,tagindex2,threadindex2 in results %}
    <form method="post" action="/openthread" enctype="multipart/form-data">
                <button class="button2" type="text" name="action" value = {{loop.index}}>{{title}}</button>
        </form>
    {% endfor %}
    

               
        
</div>
</html>
